body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;

}

.align {
    margin: auto;
    width: 50%;
    text-align: center;

}

.cover-text {
    color: white;
    padding: 20%;
}

#text-size {
    font-size: 40px;
}

.donate-button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: auto;
}



.margin {
    margin-top: 10%;
}





#donate-amount {
    display: flex;
    margin-bottom: 2%;
    margin-top: 5%;

}

#donate-amount div {
    padding: 40px;
    background-color: #f5efef;
    margin: auto;
    border-radius: 5px;
}

#selected-amount {
    background-image: linear-gradient(tomato, rgb(206, 99, 80));
    border: 2px solid #FF5959;
}

.donate-form {
    border-bottom: 2px solid rgb(206, 194, 194);
    width: 500px;
    margin: auto;
}

.other-amount {
    border: none;
    text-align: center;
    width: 500px;
    height: 50px;
}

#gray-text {
    color: gray;
}

.amount-button {
    text-align: center;
    margin-top: 2%;
}




.donate-plans {
    width: 50%;
    display: flex;
    margin: auto;
}

.plans {
    width: 30%;
    height: 300px;
    margin: 2%;
    padding: 3%;
    border-radius: 10px;
}

.icons {
    width: 50px;
    height: 50px;
}

.food-plans {
    background-color: rgb(219, 228, 228);
}

.cloth-plans {
    background-color: #ebd1d1;
}

.medicine-plans {
    background-color: rgb(219, 217, 183);
}




.bonus-section {
    width: 90%;
    margin: auto;
    display: flex;

}

.half-width {
    width: 40%;
    padding: 5%;
}

.bonus-image {
    width: 500px;
    border-radius: 5px;

}



#email-form {
    width: 40%;
    background-color: #dfd7aa;
    margin: auto;
    text-align: center;
    padding: 5% 5%;
    border-radius: 10px;
}

.email {
    width: 200px;
    background-color: rgb(207, 205, 205);
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: #b4aeae;
    padding: 10px 0px 10px 20px;
}

.subscribe-form {
    width: 500px;
    margin: auto;
    display: flex;
    padding: 0;
}

.subscribe-button {
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    width: 100px;
    background-color: #FF5959;
    border-radius: 0px 5px 5px 0px;
    text-align: center;

}





footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    color: rgb(204, 190, 190);
}

footer h2 {
    font-family: 'Splash', cursive;
    color: #FF5959;
}